td, th {
  border-style: dashed;
  border-color: white;
  border-width: 1px;
  font-family: "OCR A Std", Courier, monospace;
  font-size: 18px;
}

html {
  background-image: url("../images/stars.jpg")
}

a {
  color: green;
}

body {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  font-family: "Garamond", "Times New Roman", serif;
}

h1{
  text-decoration: underline;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.responsive {
  width: auto;
  height: auto;
  min-width: 100px;
  max-width: 125px;
  min-height: 100px;
  max-height: 125px;
}

.earth {
  background-color: lightblue;
  text-decoration: underline;
}

.mars {
  background-color: orange;
  text-decoration: underline;
}

.jupiter {
  background-color: red;
  text-decoration: underline;
}

.saturn {
  background-color: gray;
  text-decoration: underline;
}

.category {
  font-weight: bold;
  font-size: 24px;
}

#planets{
  background-color: white;
}

#earth {
  color: blue;
  font-size: 26px;
  column-width: 175px;
}

#mars {
  color: orange;
  font-size: 18px;
  column-width: 175px;
}

#jupiter {
  color: red;
  font-size: 42px;
  column-width: 175px;
}

#saturn {
  color: gray;
  font-size: 34px;
  column-width: 175px;
}

#empty {
  border: 1px solid white;
  column-width: 175px;
}

#sources {
  text-align: left;
  color: black;
  font-style: italic;
}

#sun {
  width: auto;
  height: auto;
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  float: left;
}
